<div class='content'>
    <div class='welcome'>
        <h2>Welcome to {{appName}}!</h2>
        <p>You will need your email, password and blockchain key to log in, which are shown below.</p>
    </div>
    <div class='credential-group'>
        <div class='input-field'>
            <label for='subscriptionType'>Subscription</label>
            <span id='subscriptionType'>{{subscriptionType}}</span>
        </div>
        <div class='input-field'>
            <label for='email'>Email</label>
            <span id='email' class='email'>{{email}}</span>
        </div>
        <div class='input-field'>
            <label for='password'>Password</label>
            <span id='password'>{{password}}</span>
        </div>
        <div class='input-field'>
            <label for='loginKey'>Blockchain Key</label>
            <span id='loginKey'>{{bcKey}}</span>
        </div>
        <div class='login'>
            <a href='{{clientAppURL}}/#/auth/login'>Log In</a>
        </div>
        <p>
            Since you're going to use Oracle Cloud for AI tasks, your credentials has been created in the cloud and sent to your email id
            <span class='email'>{{email}}</span>. Please activate your Oracle account as well.
        </p>
    </div>
</div>
