<div class="content">
    <div class="welcome">
        <h2>{{appName}} {{type}} disabled</h2>
        <p>Your {{type}} has been disabled.</p>
    </div>
    <div class="credential-group">
        <div class="input-field">
            <label for="subscriptionType">Subscription</label>
            <span id="subscriptionType">{{subscriptionType}}</span>
        </div>
        <div class="input-field">
            <label for="email">Email</label>
            <span id="email">{{email}}</span>
        </div>
    </div>
</div>
