<div class="content">
    <div class="welcome">
        <h2>Hello, </h2>
        <p>Test result summary of <b>{{companyName}}</b>{{#if fromCron}}:{{/if}}
            {{#if fromImport}}
                have successfully imported to the system on <b>{{importedDate}}</b>. Here is the full report from the imported CSV:</p>
            {{/if}}
        <p> Total new {{recordType}}(s): <b> {{newUserCount}} </b></p>
        <p> Total negative cases(s): <b> {{negativeCount}} </b></p>
        <p> Total positive cases(s): <b> {{positiveCount}} </b></p>
        {{#if fromCron}}
        <p> Total inconclusive cases(s): <b> {{inconclusiveCount}} </b></p>
        <p> Total not checked cases(s): <b> {{notCheckedCount}} </b></p>
        {{/if}}
        <p> Total vaccinated {{recordType}}(s): <b> {{vaccinatedCount}} </b></p>
        <p> Total non vaccinated {{recordType}}(s): <b> {{nonVaccinatedCount}} </b></p>
        {{#if positiveUsers.length}}
            {{#if fromCron}}
            List of {{recordType}}s who have been tested positive recently:
            {{else}}
            <p>We have listed the list of {{recordType}}s who have been tested positive in the current CSV:</p>
            {{/if}}
            <table>
                <thead>
                    <tr>
                        {{#each positiveUsers.[0]}}
                        <th>{{@key}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each positiveUsers}}
                    <tr>
                        {{#each this}}
                        <td>{{this}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
    {{#if logLink}}
        {{#if fromImport}}
         <p> If you think something is wrong with this particular import, you can find the complete log on this file <a href="{{logLink}}">view log</a>.</p>
        {{/if}}
    {{/if}}
</div>
